body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.flex_container {
    display: flex;
}


.mission_2022_item {
    width: 50%;
    padding-left: 10%;
}

.mission_2022 h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
    padding-left: 3%;
}

#second_h1 {
    color: orange;
}

.mission_2022_heading {
    border-left: 5px solid #fd5757;
    border-radius: 5px;
}

.mission_2022_item p {
    font-size: 20px;
    padding-right: 40%;
    text-align: justify;

}

.explore_now_button {
    text-decoration: none;
    color: white;
    background-color: #fd5757;
    padding: 10px 40px;
    border-radius: 5px;
}


.mission_2022_item img {
    width: 85%;
}

.my_mission {
    padding: 10%;
}


.my_mission h1 {
    text-align: center;
    font-size: 60px;
}

.my_mission h1 span {
    color: orange;
}


.image_resize {
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.mission {
    background-color: #e7f8ff;
    width: 33.33%;
    padding: 5%;
    border-radius: 10%;
}

.vision {
    background-color: #ffdce6;
    width: 33.33%;
    padding: 5%;
    border-radius: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.goals {
    background-color: #f5dec1;
    width: 33.33%;
    padding: 5%;
    border-radius: 10%;
}

.develop_without_limit {
    padding: 5% 10%;
}

.develop_without_limit_item {
    width: 50%;

}

.develop_without_limit_item img {
    width: 85%;
}

.develop_without_limit_item h1 {
    font-size: 40px;
}

.read_the_doc_button {
    text-decoration: none;
    color: white;
    background-color: #fd5757;
    padding: 10px 45px;
    border-radius: 5px;
}


.know_our_global_community_item {
    width: 50%;
    padding-left: 10%;
    margin-top: 5%;
}

.know_our_global_community_item_left {
    margin-right: 15%;
}

.know_our_global_community_item img {
    width: 85%;
}

.know_our_global_community_item h1 {
    font-size: 40px;
}

.contact_us h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 10%;
}

.contact_us_item {
    display: block;
    width: 50%;
    font-size: 20px;
    padding: 25px 50px;
    margin-left: 25%;
    margin-top: 2%;
}

.contact_us_button {
    color: white;
    background-color: #fd5757;
    border: 0;
    padding: 10px 45px;
    border-radius: 5px;
    margin: 3% 50%;
}

textarea.contact_us_item {
    resize: 0;
    height: 200px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer h1 {
    font-family: 'Lobster', cursive;
}

footer span {
    color: #fd5757;
}

footer p {
    color: darkgrey;
    font-size: 10px;
}