body {
    font-family: 'Poppins', sans-serif;
    padding: 5%;
}

.mission_2022 {
    display: flex;
}

.mission_2022_item {
    width: 50%;
    padding-left: 10%;
}

.mission_2022 h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
    padding-left: 3%;
}

#second_h1 {
    color: orange;
}

.mission_2022_heading {
    border-left: 5px solid #fd5757;
    border-radius: 5px;
}

.mission_2022_item p {
    font-size: 20px;
    padding-right: 40%;
    text-align: justify;

}

.explore_now_button {
    text-decoration: none;
    color: white;
    background-color: #fd5757;
    padding: 8px 40px;
    border-radius: 5px;
}


.mission_2022_item img {
    width: 85%;
}

.my_mission {
    padding: 10%;
}


.my_mission h1 {
    text-align: center;
    font-size: 60px;
}

.my_mission h1 span {
    color: orange;
}

.my_mission_item {
    display: flex;

}

.image_resize {
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.mission {
    background-color: #e7f8ff;
    padding: 5%;
}

.vision {
    background-color: #ffdce6;
    padding: 5%;

}

.goals {
    background-color: #f5dec1;
    padding: 5%;

}